[submodule "plugins/alias-tips"]
	path = plugins/alias-tips
	url = git@github.com:djui/alias-tips.git
[submodule "plugins/zsh-autosuggestions"]
	path = plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "plugins/zsh-history-substring-search"]
	path = plugins/zsh-history-substring-search
	url = git@github.com:zsh-users/zsh-history-substring-search.git
[submodule "plugins/zsh-syntax-highlighting"]
	path = plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "themes/omuse-zsh-theme"]
	path = themes/omuse-zsh-theme
	url = git@github.com:ouuan/omuse-zsh-theme.git
